extends layout

block content
  h1 Bootstrap starter template
  <div>
  <button onclick="geoFindMe()">Find my location</button><br /><br />
  <button onclick="getFoursquareVenues()">Get Foursquare Venues</button>

  </div>
  <div id="out"></div> 
  <div id="map_canvas"></div>